<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tu_dresden.inf.es.workedout.workedout" >

    <uses-permission android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectBodyPartActivity"
            android:label="@string/title_activity_select_body_part" >
        </activity>
        <activity
            android:name=".ExerciseExecutionActivity"
            android:label="@string/title_activity_exercise_execution" >
        </activity>
        <activity
            android:name=".SelectExerciseActivity"
            android:label="@string/title_activity_select_exercise" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="x-application/workedout-device" />
            </intent-filter>
        </activity>

        <!-- Database connection -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="workedout.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".WorkOutPlanActivity"
            android:label="@string/title_activity_work_out_plan" >
        </activity>
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_statistics" >
        </activity>
    </application>

</manifest>
